<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" />
    <link rel="stylesheet" href="/static/css/index.css"/>
    <link rel="stylesheet" href="/static/css/controllers.css"/>
    <link rel="stylesheet" href="/static/css/script.css"/>
    <script src="/static/js/script_js.js"></script>
</head>
<body>
<div class="main-container">
    <div class="img">
        <div class="box">
            <a href="https://r-ed.world/#popup:geoblock"><div class="img-2"></div></a>
            <span class="text"><a href="https://store.r-ed.world/privacy" style="color: white; text-decoration: none;">Политика конфиденциальности</a></span>
            <span class="text-2"><a href="https://r-ed.world/contacts" style="color: white; text-decoration: none;">Контакты</a></span>
            <span class="text-3"><a href="https://store.r-ed.world/public-offer" style="color: white; text-decoration: none;">Договор публичной оферты</a></span>
            <span class="text-4"><a href="https://store.r-ed.world/warranty" style="color: white; text-decoration: none;">Гарантийные обязательства</a></span>
        </div>
        <span class="text-5">© Школа Робототехники СПб</span>
    </div>
    <div class="group">
        <a href="https://r-ed.world/#popup:geoblock">
        <div class="box-2">
            <div class="section">
                <div class="wrapper">
                    <div class="group-2"><div class="img-3"></div></div>
                </div>
            </div>
        </div>
        </a>

        {% block content %}{% endblock %}

    </div>
    <div class="img-8">
        <span class="text-12"><a href="/software" style="color: white; text-decoration: none;">Программное обеспечение</a></span>
        <span class="text-13"><a href="/controllers" style="color: white; text-decoration: none;">Контроллеры</a></span>
        <span class="text-14"><a href="/sets" style="color: white; text-decoration: none;">Комплектации</a></span>
        <span class="text-15"><a href="/performers" style="color: white; text-decoration: none;">Исполнители</a></span>
        <span class="text-16"><a href="/sensors" style="color: white; text-decoration: none;">Датчики</a></span>
    </div>
</div>
</body>
</html>
