{% extends "base.html" %}
{% block content %}

<div class="tab" id="tab-1">
  <div class="tab-nav">
    <button type="button" class="tab-btn tab-btn-active" data-target-id="0">Вкладка 1</button>
    <button type="button" class="tab-btn" data-target-id="1">Вкладка 2</button>
    <button type="button" class="tab-btn" data-target-id="2">Вкладка 3</button>
  </div>
  <div class="tab-content">
    <div class="tab-pane tab-pane-show" data-id="0">Содержимое 1...</div>
    <div class="tab-pane" data-id="1">Содержимое 2...</div>
    <div class="tab-pane" data-id="2">Содержимое 3...</div>
  </div>
</div>

{% endblock %}