{% extends "base.html" %}
{% block content %}

    <div class="main-container100">
      <div class="pic100">
        <div class="group100">
          <span class="text-100">Контроллер</span
          ><span class="text-101"> R:ED X</span>
        </div>
        <span class="text-102"
          >В данной статье вы найдете ответы, <br />на все вопросы по работе с
          контроллером R:ED X.</span
        ><span class="text-103">Техническое описание</span>
        <div class="box100">
          <div class="pic-104">
            <div class="group-105">
              <span class="text-106">Контроллер</span
              ><span class="text-107">
                - многофункциональное устройство на основе 32bit
                микроконтроллера. На контроллере выведено 27 портов для
                подключения внешних устройств: 10 цифровых портов, 10 аналоговых
                портов, 1 USART, 1 I2C, 1 SPI, 4 порта для управления моторами
                постоянного тока, питание от 6 элементов питания типа AAA
                напряжением 1.2В. Контроллер поддерживает напряжение от 5В до
                12В. Прошивается через порт USB Type C. На лицевой части
                контроллера есть программируемый джойстик, состоящий из 5
                кнопок. Контроллер Lego- и Arduino- совместим.</span
              >
            </div>
          </div>
          <div class="img-108">
            <span class="text-109"
              >– Размер (д*ш*в): 87х70х28мм – Питание контроллера: 5-12В –
              Выведено портов: 10 цифровых, 10 аналоговых, UART, SPI, I2C. –
              Переключатели напряжения на шинах питания с 3.3.В на 5В –
              Индикатор питания на лицевой панели – Кнопка питания ВКЛ\ВЫКЛ на
              лицевой панели – Джойстик, состоящий из 5 кнопок на лицевой панели
              – Корпус, совместимый с Lego-деталями – Порт для прошивки
              контроллера через порт USB Type-C – 3 индикатора прошивка
              контроллера на лицевой части</span
            >
          </div>
          <span class="text-110">Интерфейсы</span>
          <div class="img-111"><div class="img-112"></div></div>
          <span class="text-113">Дополнительная </span
          ><span class="text-114">информация</span>
          <div class="pic-115">
            <div class="section-116">
              <span class="text-117"
                >Если у вас перестал определятся контроллер и компьютер его не
                видит, то</span
              ><span class="text-118"
                >:<br />- Подключите контроллер к ПК;<br />- Скачайте файл </span
              ><span class="text-119"
                >https://disk.yandex.ru/d/OBsyPASRjJ5bHQ<br /></span
              ><span class="text-120"
                >- Распакуйте архив;<br />- Запустите файл от имени
                администратора redx_repair.exe;<br />- Нажмите RESET на
                контроллере, Готово.</span
              >
            </div>
          </div>
          <div class="img-121"></div>
          <div class="img-122">
            <span class="text-123"
              >Питание контроллера в корпусе осуществляется от 6 элементов
              <br />питания типа ААА (Общее напряжение должно <br />составлять
              от 5 до 12В)</span
            >
          </div>
          <span class="text-124">Внимание!</span>
        </div>
      </div>
      <span class="text-125">Описание</span>
    </div>
<!--{% endblock %}-->