{% extends "base.html" %}
{% block content %}

<div class="pic"></div>
<div class="wrapper-2">
  <span class="text-6">R:ED</span><span class="text-7">Wiki</span>
</div>
<div class="pic-2">
  <div class="wrapper-3">
    <div class="wrapper-4">
      <a href="/controllers">
      <div class="img-4"></div>
      <span class="text-8">Контроллеры</span>
      </a>
    </div>
    <div class="wrapper-5">
      <a href="/performers">
      <div class="pic-3"></div>
      <span class="text-9">Исполнители</span>
      </a>
    </div>
  </div>
  <div class="wrapper-6">
    <div class="box-3">
      <a href="/software">
      <div class="pic-4"></div>
      <span class="text-a">Программное<br />Обеспечение</span>
      </a>
    </div>
    <div class="box-4">
      <a href="/sensors">
      <div class="img-5"></div>
      <span class="text-b">Датчики</span>
      </a>
    </div>
  </div>
  <div class="box-5">
    <a href="/sets">
    <div class="pic-5"></div>
    <span class="text-c">Комплектации</span>
    </a>
  </div>
</div>
<span class="text-d">Полезные видео</span>
<div class="wrapper-7">
  <div class="box-6">
    <iframe width="552" height="312" src="https://www.youtube.com/watch?v=2bdm_hxyAlE" frameborder="0" allowfullscreen>
    </iframe>
  </div>
</div>
<a href="https://www.youtube.com/c/RED_RoboticsEducation?themeRefresh=1"><div class="img-6"></div></a>
<span class="text-e">Еще больше видео на нашем канале</span>
<div class="box-7"><div class="box-8"></div></div>
<span class="text-f">Техническая поддержка</span>
<div class="box-9">
  <div class="group-3"></div>
  <a href="mailto:red.help@r-ed.world"><div class="img-7"></div></a>
  <span class="text-10"><a href="mailto:red.help@r-ed.world" style="color: white; text-decoration: none;">red.help@r-ed.world</a></span>
  <span class="text-11"><a href="https://t.me/redspbsupportbot" style="color: white; text-decoration: none;">https://t.me/redspbsupportbot</a></span>
  <a href="https://t.me/redspbsupportbot"><div class="pic-6"></div></a>
</div>

{% endblock %}